/* ********** TAG SELECTORS ***********/
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* ********** CLASS SELECTORS ***********/
.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 2.8rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
  font-family: 'Montserrat-Light', sans-serif;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
}

/* ********** ID SELECTORS ***********/
#title {
  background-color: #51c2d5;
  color: #fff;
}
